// Make the wallpaper stationary, rather than moving with workspaces.
// layer-rule {
//     // This is for swaybg; change for other wallpaper tools.
//     // Find the right namespace by running niri msg layers.
//     match namespace="^wallpaper$"
//     shadow {
//       off
//     }
//     // place-within-backdrop true
// }


layer-rule {
    match namespace="^quickshell:my-wallpaper"
    place-within-backdrop true
}
